@model Exchange.ViewModel.Chat.ChatViewModel

@{
    ViewBag.Title = "title";
}

@section style
{
    @Styles.Render("~/Content/chat");
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul data-bind="foreach: Conversations" class="nav nav-tabs" id="chatTab">
                <li><a data-bind="attr: { 'data-target': '#' + Id }, text: CurrentUserIsSender() ? RecipientName : SenderName" data-toggle="tab"></a></li>
            </ul>
            <div class="tab-content">
                <!-- ko foreach: Conversations -->
                <div class="tab-pane" id="home" data-bind="attr: { id : Id }">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span> Chat
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="http://www.jquery2dotnet.com">
                                            <span class="glyphicon glyphicon-refresh">
                                            </span>Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.jquery2dotnet.com">
                                            <span class="glyphicon glyphicon-ok-sign">
                                            </span>Available
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.jquery2dotnet.com">
                                            <span class="glyphicon glyphicon-remove">
                                            </span>Busy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.jquery2dotnet.com">
                                            <span class="glyphicon glyphicon-time"></span>
                                            Away
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="http://www.jquery2dotnet.com">
                                            <span class="glyphicon glyphicon-off"></span>
                                            Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body panel-body-chat chatMessagesScroll">
                            <ul class="chat" data-bind="foreach: Messages">
                                <li class="clearfix" data-bind="css: MessageSide">
                                    <span class="chat-img" data-bind="css: MessageContentSide">
                                        <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle" data-bind="attr: { src: ImgSource }">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font" data-bind="css: { 'pull-right': !IsSender }, text: IsSender ? $parent.SenderName : $parent.RecipientName"></strong>
                                            <small class="text-muted" data-bind="css: { 'pull-right': IsSender }">
                                                <span class="glyphicon glyphicon-time" data-bind="text: Date"></span>
                                            </small>
                                        </div>
                                        <p data-bind="text: Content"></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <form class="form-inline" data-bind="submit: submitMessage">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" data-bind="value: MessagesContent" placeholder="Type your message here...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="btn-chat">
                                            Send
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista kontaktów</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" class="list-group-item">Łukasz Zaborski <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                        <button type="button" class="list-group-item">Ilona Kośmider <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                        <button type="button" class="list-group-item">Spartakus <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                        <button type="button" class="list-group-item">James Bond <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                        <button type="button" class="list-group-item">Bruce Wayne <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                        <button type="button" class="list-group-item">Krasnal <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                        <button type="button" class="list-group-item">Sub-Zero <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                        <button type="button" class="list-group-item">George Michael <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/KnockoutModels/chatVM.js")
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(document).ready(function () {
            var model = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))';
            var addMessageUrl = '@Url.Action("AddMessage", "Chat")';
            var viewModel = new chatViewModel(model, addMessageUrl);

            ko.applyBindings(viewModel);
            scrollToBottomByClassName("chatMessagesScroll");

            var chatMonitorHub = $.connection.chatMonitorHub;
            chatMonitorHub.client.addMessage = function (message) {
                viewModel.addMessage(message);
                scrollToBottomAnimateByClassName("chatMessagesScroll");
            }

            $.connection.hub.start();
        });
    </script>
}

