@model Exchange.ViewModel.Auction.AuctionViewModel

@{
    ViewBag.Title = "Auction";
}
<h2>Przebieg aukcji</h2>

@section style
{
    <link rel="stylesheet" type="text/css" href="~/Content/timeline.css">
}

<div class="row">
    <div class="col-xs-4">
        <dl class="dl-horizontal">
            <dt>Numer aukcji</dt>
            <dd>@Model.Id</dd>
            <dt>Nazwa użytkownika</dt>
            <dd>@Model.UserName</dd>
            <dt>Nazwa produktu</dt>
            <dd>@Model.Name</dd>
            <dt>Cena początkowa</dt>
            <dd>@Model.OpenPrice</dd>
        </dl>
    </div>
    <div class="col-xs-6">
        <dl class="dl-horizontal">
            <dt>Data rozpoczęcia</dt>
            <dd>@Model.StartDate</dd>
            <dt>Data zakończenia</dt>
            <dd>@Model.PredictedEndDate</dd>
        </dl>
    </div>
</div>

<div data-bind="visible: endOfAuction" class="alert alert-info text-center" role="alert">Aukcja została zakończona.</div>

<div data-bind="visible: soonEndOfAuction" class="alert alert-warning alert-dismissible text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Uwaga!</strong> Do końca aukcji zostało niewiele czasu.
</div>

<div class="row" style="margin-bottom: 25px;">
    <form class="form-inline" data-bind="submit: submitOffer">
        <label class="col-xs-2">Zaproponuj kwote</label>
        <div class="form-group col-xs-4">
            <div class="input-group">
                <span class="input-group-addon">PLN</span>
                <input type="text" data-bind="value: PriceToOffer, enable: newOffersEnable" class="form-control validate-offerPrice" placeholder="Kwota">
            </div>
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary" data-bind="enable: newOffersEnable">Licytuj</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="page-header">
        <h2 id="timeline">Przebieg aukcji</h2>
    </div>
    <ul class="timeline" data-bind="foreach: AuctionOffers" id="auctionOffers" style="max-height: 350px;overflow-y: scroll">
        <li data-bind="css: { 'timeline-inverted': TimelineInverted}">
            <div class="timeline-badge success">
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title" data-bind="text: UserName"></h4>
                    <p>
                        <small class="text-muted" data-bind="text: Date">
                            <i class="glyphicon glyphicon-time"></i>
                        </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Użytkownik zaproponował cene <strong data-bind="text: Price"></strong> PLN.</p>
                </div>
            </div>
        </li>
    </ul>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/KnockoutModels/AuctionVM.js")
    @Scripts.Render("~/Scripts/validationRules.js")
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        var model = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))';
        var addOfferUrl = '@Url.Action("AddOffer", "Auction")';
        var viewModel = new AuctionViewModel(model, addOfferUrl);
        ko.applyBindings(viewModel);

        var validationRules = new ValidationRules(viewModel);
        validationRules.defineValidationRules();

        scrollToBottom();

        var auctionHub = $.connection.auctionProgressHub;
        auctionHub.client.addStockPrice = function(auctionOffer) {
            viewModel.addOffer(auctionOffer);
            scrollToBottomAnimate();
        };

        $.connection.hub.start();

        function scrollToBottom() {
            var objOffers = document.getElementById("auctionOffers");
            objOffers.scrollTop = objOffers.scrollHeight;
        };

        function scrollToBottomAnimate() {
            var auctionOffers = $("#auctionOffers");
            auctionOffers.animate({ scrollTop: auctionOffers.prop("scrollHeight") }, 1000);
        };
    </script>
}
