@using Exchange.Infrastructure.Extensions
@model IEnumerable<Exchange.ViewModel.Auction.AuctionGridViewModel>
@{
    ViewBag.Title = "Aukcje";
}

<h2>Moje aukcje</h2>
@Html.ActionLink("Dodaj", "Add", "Auction", new { @class = "btn btn-default", id="btn-add" })

<div class="modal fade" id="dialogDiv" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="dialogContent" role="document">
    </div>
</div>


<div id="auctionTable" class="row">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Cena otwarcia</th>
            <th>Data rozpoczęcia</th>
            <th>Status</th>
            <th>Operacje</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var auction in Model)
        {
            <tr>
                <td>@auction.Name</td>
                <td>@auction.Description</td>
                <td>@auction.OpenPrice</td>
                <td>@auction.StartDate</td>
                <td>@auction.Status.GetDescription()</td>
                <td>
                    @Html.ActionLink("Szczegóły", "Details", "Auction", new { id = auction.Id }, new { @class = "btn btn-default btn-details" })
                    @Html.ActionLink("Edycja", "Update", "Auction",new { id = auction.Id }, new { @class = "btn btn-default btn-update" })
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('.btn-details').on('click', function() {
                loadPartialView(this.href);
                return false;
            });

            $('#btn-add').on('click', function () {
                loadPartialView(this.href);
                return false;
            });

            $('.btn-update').on('click', function () {
                loadPartialView(this.href);
                return false;
            });
        });

        function loadPartialView(linkHref) {
            $('#dialogContent').load(linkHref, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
            });
        }
    </script>
}
